<%- include("partials/header"); -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Records</title>
</head>
<body>
    <form method = "post" action ="/delete" >
        Enter Serial No.<br> <input type="text" name="postSerialNo" autocomplete="off">
        <button type="submit" name="delete" >Delete</button>
    </form>
    <a href ="/View">View</a>
    <a href = "/Add">Add</a>
</body>
</html>