<%- include("partials/header"); -%>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Inventory Tracker</title>
</head>

<body>
    <h1 style="text-align:center ; font-size: 40px">
        Inventory Tracking App
    </h1>
    <h2>
        A simple solution to your inventory tracking problems
    </h2>
    <br>
    <table style= "margin-left: auto; margin-right:auto">
     <tr >
       <td><a href="/add" style = "font-size: 20px; color: black;">Add</a></td>
       <td></td>
       <td><a href="/view" style = "font-size: 20px; color: black;">View</a></td>
     </tr>
     <tr>
       <td><a href = "/delete" style = "font-size: 20px; color: black;">Delete</a></td>
       <td></td>
       <td><a href = "/Update" style = "font-size: 20px; color: black;">Update</a></td>
     </tr>
     <tr>
       <td><a href = "/shipment" style = "font-size: 20px; color: black;" >Ship Items </a></td>
     </tr>
</body>


