<%- include("partials/header"); -%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Shipment</title>
</head>
<body>
    <h1>Create shipment</h1>
<form method = "post" action ="/shipment">
    Serial No: <input type="text" name="postSerialNo1" autocomplete="off">
    Qty:<input type="text" name="postQty1" autocomplete="off">
    <br>
    Serial No: <input type="text" name="postSerialNo2" autocomplete="off">
    Qty:<input type="text" name="postQty2" autocomplete="off">
    <br>
    Serial No: <input type="text" name="postSerialNo3" autocomplete="off">
    Qty:<input type="text" name="postQty3" autocomplete="off">
    <br>
    Serial No: <input type="text" name="postSerialNo4" autocomplete="off">
    Qty:<input type="text" name="postQty4" autocomplete="off">
    <br>
    Serial No: <input type="text" name="postSerialNo5" autocomplete="off">
    Qty:<input type="text" name="postQty5" autocomplete="off">
    <br>
    Serial No: <input type="text" name="postSerialNo6" autocomplete="off">
    Qty:<input type="text" name="postQty6" autocomplete="off">
    <br>
    Serial No: <input type="text" name="postSerialNo7" autocomplete="off">
    Qty:<input type="text" name="postQty7" autocomplete="off">
    <br>
    Serial No: <input type="text" name="postSerialNo8" autocomplete="off">
    Qty:<input type="text" name="postQty8" autocomplete="off">
    <br>
    Serial No: <input type="text" name="postSerialNo9" autocomplete="off">
    Qty:<input type="text" name="postQty9" autocomplete="off">
    <br>
     <button type="submit" name="Ship" >Ship</button>
</form>
<a href ="/View">View</a>
<a href = "/Add">Add</a>
<a href = "/Delete">Delete</a>
<a href = "/Update">Update</a>
</body>

</html>


